body {
    font-family: 'Nunito', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

h1 {
    font-size: 4rem;
}

@media (max-width: 1200px) {
    h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

.second-img {
    height: 560px;
    wod
}